.icons-section {
  position: fixed;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  bottom: 0;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.social-icons {
  position: absolute;
  left: -10px;
  bottom: 24px;
  display: none;
  flex-direction: column;
  gap: 6px;
  z-index: 999;
  padding: 10px;
  pointer-events: all;
}

.social-icons span {
  width: 40px; height: 40px;
  position: relative;
  display: flex;
}

.social-icons a {
  --siLeft: 50%;
  --siTop: 50%;
  position: absolute;
  left: var(--siLeft, 50%);
  top: var(--siTop, 50%);
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 19px;
  color: var(--textMid);
  will-change: left, top;
  transition: color .2s;
}
.social-icons a:hover { color: var(--blue); }

.resume-button {
  position: absolute;
  z-index: 99;
  display: flex;
  gap: 6px;
  bottom: 44px;
  right: 0;
  width: auto;
  text-wrap: nowrap;
  letter-spacing: 3px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: var(--textLight);
  cursor: pointer;
  transition: color .25s;
  transform-origin: left bottom;
  transform: translateX(100%) rotateZ(-90deg);
  pointer-events: all;
  text-transform: uppercase;
}
.resume-button:hover { color: var(--blue); }

div.resume-button span {
  color: var(--textMid);
  font-size: 14px;
  margin-top: -1px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .social-icons { display: flex; gap: 14px; }
}
@media only screen and (min-width: 768px) {
  .resume-button {
    transform: none;
    font-size: 12px;
    line-height: 12px;
  }
}
